/* Elements globaux */
body{
    background-color: #252323;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
}
h1,h2{
    color: #E9FFF9;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1{
    font-size: 3.5em;
    font-family: 'Lobster', cursive;
}
h2{
    font-size: 2.9em;
    font-family: 'Lobster', cursive;
}
a, .linkStyleLike{
    color: #C69C72;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
a:hover, .linkStyleLike:hover{
    color: #C69C72;
    text-decoration: none;
}
a:after, .linkStyleLike:after{    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #C69C72;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after, .linkStyleLike:hover:after{ 
    width: 100%; 
    left: 0; 
}
.linkStyleLike{
    cursor: pointer;
}
.full-text{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-line-clamp: 30 !important;
}
/* Navbar */
nav{
    background-color: black;
    height: 90px;
    font-size: 1.3em;
}
nav div{
    margin-left: 20px;
    margin-right: 20px;
}
#logoNavbar{
    height: 30px;
    cursor: pointer;
}
#userIcon{
    height: 30px;
    position: relative;
    top: -2px;
    display: none;
    cursor: pointer;
}

/* Carrousel */
.carousel{
    cursor: pointer;
}
.carouselImage{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.carousel-indicators li{
    border-radius: 100%;
    width: 5px;
    height: 5px;
}
.carousel-caption{
    background-color: rgba(0,0,0,0.6);
    width: 60%;
    height: 260px;
    left: 40%;
    right: 0%;
    border-radius: 120px 0px 0px 120px;
}
.carousel-caption h3{
    font-size: 4em;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
}

/* Séances */
.card{
    background-color: transparent;
    color: white;
    border: none;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card-body{
    margin-top: -12px;
}
.card-title{
    color: #E9FFF9;
    font-size: 1.6em;
    font-weight: 600;
}
.card-place, .card-date{
    font-size: 1.2em;
}
.card-date{
    color: rgb(150,197,195);
}
.card-place{
    color: rgb(76,203,197);
}
.card-synopsis{
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.card-img{
    border: 1px solid grey;
    width: 200px;
    height: 284px;
    border-radius: 10px;
}
.card-btn{
    position: relative;
    color: #C69C72;
    background-color: black;
    border : 1px solid #C69C72;
    text-transform: uppercase;
    width: 180px;
    height: 55px;
    top: -70px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 400ms, color 400ms;
}
.card-btn:hover{
    background-color: #C69C72;
    color: black;
    border: 1px solid black;
    border-radius: 0px;
}

/* Modal séance */
.modal-title{
    font-size: 1.2em;
    color: white;
}
.modal-content{
    background-color: #2d2f30;
}
.modal-synopsis{
    font-weight: lighter;
}
.btn-modal-validate{
    color: #C69C72;
    background-color: black;
    text-transform: uppercase;
    width: 240px;
    height: 80px;
    border-radius: 0px;
    border : 1px solid #C69C72;
    font-size: 1.4em;
    transition: background-color 400ms, color 400ms;
}
.btn-modal-validate:hover{
    background-color: #C69C72;
    color: black;
    border: 1px solid black;
}
.btn-modal-back{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100px;
    border-radius: 0px;
    transition: background-color 400ms, color 400ms;
    font-size: 1em;
}
.btn-modal-back:hover{
    background-color: white;
    color: black;
}
.crossModalBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width:20px;
    float: right;
    margin-right: 15px;
}
.crossModalImg{
    width:20px;
}

/* Modal Connexion /Inscription */
.form-group{
    width: 80%;
}
.form-control{
    border-radius: 0;
    color: black;
}
#connectMailInput:not(:focus):invalid, #registerMailInput:not(:focus):invalid{
    background-color: #d63131;
    color: white;
    transition: background-color 400ms, color 400ms;
}
#connectMailInput:not(:focus):valid, #registerMailInput:not(:focus):valid{
    color: #0e540d;
}

/* Card Actualités */
.card-horizontal-actu{
    display: flex;
    flex: 1 1 auto;
}
.card-actu{
    top: 0px;
    transition: top 300ms;
}
.card-actu:hover{
    top: -20px;
    cursor: pointer;
}
.actu-img{
    border: 1px solid grey;
    width: 360px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.actu-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.update-date-text{
    color: lightgray;
}

/* Footer */
footer{
    background-color: black;
    display: flex;
}

/* Media-Queries */

/* Global */
@media (max-width: 900px){
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
    .card-title{
        font-size: 1.2em;
    }
    .presentationText{
        font-size: 0.8em;
        font-weight: lighter;
    }
}
@media (max-width: 250px){ /* Très très petits écrans */
    h1{
        font-size: 1.7em;
    }
    h2{
        font-size: 1.5em;
    }
    footer{
        font-size: 0.8em;
    }
    .btn-modal-validate{
        font-size: 0.8em !important;
    }
}

/* Navbar */
@media (max-width: 800px){
    .userText{
        display: none;
    }
    #userIcon{
        display: block;
    }
}
@media (max-width: 440px){
    nav{
        font-size: 1em;
    }
    #logoNavbar{
        height: 20px;
    }
    #userIcon{
        height: 20px;
    }
    nav div{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media(max-width: 300px){
    .nav-left-text{
        display: none;
    }
}

/* Carrousel */
@media (max-width: 1300px){
    .carouselImage{
        height: 500px;
    }
    .carousel-caption h3{
        font-size: 3em;
    }
}
@media (max-width: 1000px){
    .carousel-caption{
        width: 80%;
        left: 20%;
    }
    .carousel-caption h3{
        font-size: 2.5em;
    }
}
@media (max-width: 650px){
    .carousel-caption{
        width: 100%;
        left: 0%;
        border-radius: 0px;
        height: 90px;
        top: 70%;
    }
    .carouselImage{
        height: 300px;
    }
    .carousel-caption h3{
        font-size: 1.5em;
    }
    .carousel-indicators{
        display: none;
    }
}
@media(max-width: 300px){
    .carousel-caption h3{
        font-size: 1em;
    }
}

/* Séances */
@media (max-width: 1710px){
    .card-synopsis{
        -webkit-line-clamp: 5;
    }
}
@media (max-width: 1500px){
    .card-synopsis{
        -webkit-line-clamp: 4;
    }
}
@media (min-width: 992px) and (max-width: 1300px){
    .card-synopsis{
        -webkit-line-clamp: 1;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .card-img{
        width: 155px;
        height: 225px;
    }
    .card-btn{
        width: 135px;
        font-size: 0.8em;
    }
    .card-title{
        font-size: 1.2em;
    }
    .card-date, .card-place{
        font-size: 0.8em;
    }
    .card-synopsis{
        font-size: 0.7em;
        -webkit-line-clamp: 3;
    }
    .card-see-more{
        font-size: 0.7em;
    }
}
@media (max-width: 862px){
    .card-synopsis{
        -webkit-line-clamp: 3;
    }
}
@media (min-width: 768px) and (max-width: 862px){
    .card-img{
        width: 155px;
        height: 225px;
    }
    .card-btn{
        width: 135px;
        font-size: 0.8em;
    }
    .card-title{
        font-size: 1.2em;
    }
    .card-date, .card-place{
        font-size: 0.8em;
    }
    .card-synopsis{
        font-size: 0.7em;
    }
    .card-see-more{
        font-size: 0.7em;
    }
}
@media (max-width: 767px){
    #card2, #card3, #card4, #card5, #card6{
        display: none;
    }
    .card-date, .card-place{
        font-size: 1em;
    }
    .card-synopsis{
        -webkit-line-clamp: 6;
    }
}
@media (max-width: 406px){
    .card-synopsis{
        -webkit-line-clamp: 1;
    }
    .card-img{
        width: 155px;
        height: 230px;
    }
    .card-btn{
        width: 130px;
        font-size: 0.8em;
    }
    .card-title{
        font-size: 1.4em;
    }
    .card-date, .card-place{
        font-size: 1em;
    }
}
@media (max-width: 350px){ /* Très petits écrans */
    .card-horizontal{
        display: block;
    }
    .card-see-more, .card-synopsis{
        display: none;
    }
    .card-img{
        width: 100%;
        object-fit: cover;
        height: 300px;
    }
    .card-btn{
        width:80%;
        left: 6%;
    }
    #actualites{
        margin-top: -50px;
    }
    .card-title{
        font-size: 1.1em;
    }
    .btn-modal-validate{
        font-size: 1em;
        width:80%;
    }
}

/* Actualités */
@media (min-width: 768px) and (max-width: 1222px){
    .card-horizontal-actu{
        display: block;
    }
    .actu-text{
        margin-left: -11px;
    }
}
@media (max-width: 624px){
    .card-horizontal-actu{
        display: block;
    }
    .actu-text{
        margin-left: -20px;
    }
    .card-actu{
        margin-left: 0px;
    }
    .actu-img{
        text-align: center;
    }
}
@media (max-width: 400px){
    .actu-img{
        width: 100%;
    }
}

/* Footer */
@media (max-width: 700px){
    footer{
        display: block;
    }
    #footerContact{
        margin-top: 50px;
    }
}
